.plan-page {
  background-color: #f1f1f1;
  padding: 1rem;
  padding-bottom: 5rem;
}
.plan-page--title {
  margin-bottom: 0;
}
.plan-page--created-by {
  margin: 0;
  color: grey;
}
.plan-page--back-button {
  display: flex;
  align-items: center;
}